<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta charset="utf-8">
    <title>library-homepage</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron" id ="homeJumbotron">
        <h1 id=titleHomeText>Welcome to the Library Homepage!</h1>
          <hr>
          <img src="~/img/bookClipArt.png" alt="book clip art" id="indexClipArt">

          <h2 id="indexText">Books changing lives</h2>
      </div>
        <img src="~/img/library_woman.jpg" id="homeImage" alt="woman-at-library">

        <h3><a href = "/patron/landing"> Check out a new book!</a></h3>


        <h3><a href="/admin/landing">Administrator Login</a></h3>

    </div>
  </body>
</html>
