<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta charset="utf-8">
    <title>patron-homepage</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron" id ="patronJumbotron">
        <h1>Welcome to the Patron Homepage</h1>
        <h2>This library would not be possible without you!</h2>
          <hr>


      </div>


      Put an image here, fun stuff about the library.



      <h4><a href="/">Back to homepage</a></h4>


    </div>
  </body>
</html>
