<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>admin-add-books</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Add a book to the database</h1>
      </div>
      <h2><a href ="admin/books/add"></a>Add books to database</h2>
      <h2><a href ="/admin/directory">Back to admin directory</a></h2>
    </div>
  </body>
</html>
