<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>admin-homepage</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Library Administrator Page</h1>
      </div>
      <h2>Please enter your login credentials:</h2>
      <h4><a href="/admin/directory">Admin Directory</a></h4>
      <h4><a href="/">Back to homepage</a></h4>
    </div>
  </body>
</html>
