<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>admin-directory</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Admin Directory</h1>
      </div>
      <h2><a href ="/admin/books/add">Add books to database</a></h2>
      <h2><a href ="/">Back to library home</a></h2>    
    </div>
  </body>
</html>
